/* screen - desktop-2 */

.desktop-2 {
    align-items: flex-start;
    background-color: var(--white);
    border: 1px none;
    display: flex;
    flex-direction: column;
    height: 1992px;
    overflow: hidden;
    width: 1440px;
  }
  
  .desktop-2 .component-1 {
    height: 142px;
    left: 0;
    min-width: 1440px;
    position: fixed;
    top: 0;
    z-index: 7;
  }
  
  .desktop-2 .image-1 {
    align-self: flex-end;
    height: 153px;
    margin-bottom: -12px;
    object-fit: cover;
    width: 129px;
  }
  
  .desktop-2 .overlap-group3 {
    height: 50px;
    margin-left: 90px;
    margin-top: 16.0px;
    position: relative;
    width: 144px;
  }
  
  .desktop-2 .title {
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 8px;
  }
  
  .desktop-2 .material-symbolsarrow-drop-down-rounded {
    height: 50px;
    left: 94px;
    position: absolute;
    top: 0;
    width: 50px;
  }
  
  .desktop-2 .overlap-group1-2 {
    height: 50px;
    margin-left: 97px;
    margin-top: 16.0px;
    position: relative;
    width: 270px;
  }
  
  .desktop-2 .conseils-astuces {
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 8px;
  }
  
  .desktop-2 .material-symbolsarrow-drop-down-rounded-1 {
    left: 220px;
    position: absolute;
    top: 0;
  }
  
  .desktop-2 .overlap-group2 {
    height: 50px;
    margin-left: 82px;
    margin-top: 16.0px;
    position: relative;
    width: 183px;
  }
  
  .desktop-2 .suivez-nous {
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 8px;
  }
  
  .desktop-2 .material-symbolsarrow-drop-down-rounded-2 {
    left: 133px;
    position: absolute;
    top: 0;
  }
  
  .desktop-2 .icon-facebook {
    height: 40px;
    margin-left: 111px;
    margin-top: 8.0px;
    width: 40px;
  }
  
  .desktop-2 .icon-instagram {
    height: 40px;
    margin-left: 49px;
    margin-top: 8.0px;
    width: 40px;
  }
  
  .desktop-2 .icbaseline-tiktok {
    height: 40px;
    margin-left: 46px;
    margin-top: 8.0px;
    width: 40px;
  }
  
  .desktop-2 .overlap-group8 {
    align-items: flex-start;
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--black);
    border-radius: 10px;
    display: flex;
    gap: 37px;
    height: 74px;
    margin-left: 105px;
    margin-top: 142px;
    min-width: 511px;
    padding: 20px 15px;
    z-index: 2;
  }
  
  .desktop-2 .icon-search {
    height: 30px;
    margin-top: 1px;
    width: 30px;
  }
  
  .desktop-2 .trouver-une-recette {
    color: #d0c4c4;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    min-height: 29px;
  }
  
  .desktop-2 .overlap-group5 {
    align-items: center;
    background-color: #f5f5f5;
    display: flex;
    height: 82px;
    justify-content: flex-end;
    min-width: 1440px;
    padding: 15px 194px;
    z-index: 1;
  }
  
  .desktop-2 .overlap-group12 {
    align-self: flex-end;
    height: 50px;
    position: relative;
    width: 177px;
  }
  
  .desktop-2 .populaire {
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 9px;
  }
  
  .desktop-2 .material-symbolsarrow-drop-down-rounded-3 {
    left: 127px;
    position: absolute;
    top: 0;
  }
  
  .desktop-2 .overlap-group10 {
    height: 50px;
    margin-left: 56px;
    position: relative;
    width: 122px;
  }
  
  .desktop-2 .repas {
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 10px;
  }
  
  .desktop-2 .material-symbolsarrow-drop-down-rounded-4 {
    left: 72px;
    position: absolute;
    top: 0;
  }
  
  .desktop-2 .plats {
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 1.0px;
    margin-left: 52px;
    min-height: 29px;
    min-width: 78px;
  }
  
  .desktop-2 .overlap-group9 {
    height: 50px;
    margin-left: 46px;
    position: relative;
    width: 205px;
  }
  
  .desktop-2 .ingredients {
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 10px;
  }
  
  .desktop-2 .material-symbolsarrow-drop-down-rounded-6 {
    left: 155px;
    position: absolute;
    top: 0;
  }
  
  .desktop-2 .overlap-group11 {
    height: 50px;
    margin-left: 53px;
    position: relative;
    width: 138px;
  }
  
  .desktop-2 .cuisine {
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 10px;
  }
  
  .desktop-2 .material-symbolsarrow-drop-down-rounded-7 {
    left: 88px;
    position: absolute;
    top: 0;
  }
  
  .desktop-2 .flex-row {
    align-items: flex-end;
    background-color: var(--white);
    display: flex;
    height: 447px;
    justify-content: flex-end;
    margin-left: -5px;
    min-width: 1440px;
    padding: 16px 120px;
    z-index: 3;
  }
  
  .desktop-2 .overlap-group-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 27px;
    min-height: 410px;
    width: 222px;
  }
  
  .desktop-2 .overlap-group20 {
    align-items: center;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64538066667928fc44d4e607/releases/6453818f60a83ad000c6554f/img/rectangle-29@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    height: 324px;
    min-width: 222px;
    padding: 0 86px;
  }
  
  .desktop-2 .icon-play {
    height: 50px;
    width: 50px;
  }
  
  .desktop-2 .overlap-group1 {
    align-items: flex-start;
    background-color: var(--botticelli);
    display: flex;
    height: 59px;
    margin-left: 1px;
    min-width: 221px;
    padding: 16px;
  }
  
  .desktop-2 .jollof-rice {
    letter-spacing: 0;
    line-height: normal;
    min-height: 24px;
    white-space: nowrap;
  }
  
  .desktop-2 .overlap-group-container-1 {
    align-items: flex-start;
    gap: 27px;
    margin-left: 20px;
    min-height: 410px;
    width: 222px;
  }
  
  .desktop-2 .overlap-group17 {
    align-items: center;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64538066667928fc44d4e607/releases/6453818f60a83ad000c6554f/img/rectangle-31@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    height: 324px;
    min-width: 222px;
    padding: 0 86px;
  }
  
  .desktop-2 .thiebou-dieune {
    letter-spacing: 0;
    line-height: normal;
    min-height: 24px;
    white-space: nowrap;
  }
  
  .desktop-2 .overlap-group-container-2 {
    align-items: flex-start;
    gap: 24px;
    margin-left: 21px;
    min-height: 407px;
    width: 225px;
  }
  
  .desktop-2 .overlap-group16 {
    align-items: center;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64538066667928fc44d4e607/releases/6453818f60a83ad000c6554f/img/rectangle-32@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    height: 324px;
    margin-left: 3px;
    min-width: 222px;
    padding: 0 86px;
  }
  
  .desktop-2 .overlap-group1-1 {
    align-items: flex-start;
    background-color: var(--botticelli);
    display: flex;
    height: 59px;
    min-width: 221px;
    padding: 16px;
  }
  
  .desktop-2 .maf-yapp {
    letter-spacing: 0;
    line-height: normal;
    min-height: 24px;
    white-space: nowrap;
  }
  
  .desktop-2 .overlap-group-container-3 {
    align-items: center;
    gap: 27px;
    margin-left: 17px;
    min-height: 410px;
    width: 229px;
  }
  
  .desktop-2 .overlap-group15 {
    align-items: center;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64538066667928fc44d4e607/releases/6453818f60a83ad000c6554f/img/rectangle-33@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    height: 324px;
    margin-left: 7.0px;
    min-width: 222px;
    padding: 0 86px;
  }
  
  .desktop-2 .overlap-group21 {
    align-items: flex-start;
    background-color: var(--botticelli);
    display: flex;
    height: 59px;
    margin-right: 8.0px;
    min-width: 221px;
    padding: 16px;
  }
  
  .desktop-2 .cbon {
    letter-spacing: 0;
    line-height: normal;
    min-height: 24px;
    white-space: nowrap;
  }
  
  .desktop-2 .overlap-group-container-4 {
    align-items: flex-start;
    gap: 24px;
    margin-left: 18px;
    min-height: 407px;
    width: 224px;
  }
  
  .desktop-2 .overlap-group22 {
    align-items: center;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64538066667928fc44d4e607/releases/6453818f60a83ad000c6554f/img/rectangle-34@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    height: 324px;
    margin-left: 2px;
    min-width: 222px;
    padding: 0 86px;
  }
  
  .desktop-2 .domoda-yapp {
    letter-spacing: 0;
    line-height: normal;
    min-height: 24px;
    white-space: nowrap;
  }
  
  .desktop-2 .overlap-group4 {
    height: 878px;
    margin-left: -9px;
    position: relative;
    width: 1442px;
    z-index: 4;
  }
  
  .desktop-2 .rectangle-41 {
    background-color: var(--white);
    height: 447px;
    left: 2px;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .desktop-2 .rectangle-42 {
    height: 324px;
    left: 124px;
    object-fit: cover;
    position: absolute;
    top: 21px;
    width: 222px;
  }
  
  .desktop-2 .rectangle-43 {
    background-color: var(--botticelli);
    height: 59px;
    left: 125px;
    position: absolute;
    top: 372px;
    width: 221px;
  }
  
  .desktop-2 .rectangle-44 {
    height: 324px;
    left: 366px;
    object-fit: cover;
    position: absolute;
    top: 21px;
    width: 222px;
  }
  
  .desktop-2 .rectangle-45 {
    height: 324px;
    left: 612px;
    object-fit: cover;
    position: absolute;
    top: 24px;
    width: 222px;
  }
  
  .desktop-2 .rectangle-46 {
    height: 324px;
    left: 858px;
    object-fit: cover;
    position: absolute;
    top: 21px;
    width: 222px;
  }
  
  .desktop-2 .rectangle-47 {
    height: 324px;
    left: 1100px;
    object-fit: cover;
    position: absolute;
    top: 24px;
    width: 222px;
  }
  
  .desktop-2 .jollof-rice-1 {
    left: 141px;
    top: 388px;
  }
  
  .desktop-2 .rectangle-48 {
    background-color: var(--botticelli);
    height: 59px;
    left: 367px;
    position: absolute;
    top: 372px;
    width: 221px;
  }
  
  .desktop-2 .thiebou-dieune-1 {
    left: 383px;
    top: 388px;
  }
  
  .desktop-2 .rectangle-49 {
    background-color: var(--botticelli);
    height: 59px;
    left: 609px;
    position: absolute;
    top: 372px;
    width: 221px;
  }
  
  .desktop-2 .maf-yapp-1 {
    left: 625px;
    top: 388px;
  }
  
  .desktop-2 .rectangle-50 {
    background-color: var(--botticelli);
    height: 59px;
    left: 851px;
    position: absolute;
    top: 372px;
    width: 221px;
  }
  
  .desktop-2 .cbon-1 {
    left: 867px;
    top: 388px;
  }
  
  .desktop-2 .rectangle-51 {
    background-color: var(--botticelli);
    height: 59px;
    left: 1098px;
    position: absolute;
    top: 372px;
    width: 221px;
  }
  
  .desktop-2 .domoda-yapp-1 {
    left: 1114px;
    top: 388px;
  }
  
  .desktop-2 .icon-play-5 {
    left: 210px;
    position: absolute;
    top: 158px;
  }
  
  .desktop-2 .icon-play-6 {
    left: 452px;
    position: absolute;
    top: 158px;
  }
  
  .desktop-2 .icon-play-7 {
    left: 698px;
    position: absolute;
    top: 161px;
  }
  
  .desktop-2 .icon-play-8 {
    left: 944px;
    position: absolute;
    top: 158px;
  }
  
  .desktop-2 .icon-play-9 {
    left: 1186px;
    position: absolute;
    top: 161px;
  }
  
  .desktop-2 .rectangle-52 {
    background-color: var(--white);
    height: 447px;
    left: 0;
    position: absolute;
    top: 431px;
    width: 1440px;
  }
  
  .desktop-2 .rectangle-53 {
    height: 324px;
    left: 122px;
    object-fit: cover;
    position: absolute;
    top: 452px;
    width: 222px;
  }
  
  .desktop-2 .rectangle-54 {
    background-color: var(--botticelli);
    height: 59px;
    left: 123px;
    position: absolute;
    top: 803px;
    width: 221px;
  }
  
  .desktop-2 .rectangle-55 {
    height: 324px;
    left: 364px;
    object-fit: cover;
    position: absolute;
    top: 452px;
    width: 222px;
  }
  
  .desktop-2 .rectangle-56 {
    height: 324px;
    left: 610px;
    object-fit: cover;
    position: absolute;
    top: 455px;
    width: 222px;
  }
  
  .desktop-2 .rectangle-57 {
    height: 324px;
    left: 856px;
    object-fit: cover;
    position: absolute;
    top: 452px;
    width: 222px;
  }
  
  .desktop-2 .rectangle-58 {
    height: 324px;
    left: 1098px;
    object-fit: cover;
    position: absolute;
    top: 455px;
    width: 222px;
  }
  
  .desktop-2 .jollof-rice-2 {
    left: 139px;
    top: 819px;
  }
  
  .desktop-2 .rectangle-59 {
    background-color: var(--botticelli);
    height: 59px;
    left: 365px;
    position: absolute;
    top: 803px;
    width: 221px;
  }
  
  .desktop-2 .thiebou-dieune-2 {
    left: 381px;
    top: 819px;
  }
  
  .desktop-2 .rectangle-60 {
    background-color: var(--botticelli);
    height: 59px;
    left: 607px;
    position: absolute;
    top: 803px;
    width: 221px;
  }
  
  .desktop-2 .maf-yapp-2 {
    left: 623px;
    top: 819px;
  }
  
  .desktop-2 .rectangle-61 {
    background-color: var(--botticelli);
    height: 59px;
    left: 849px;
    position: absolute;
    top: 803px;
    width: 221px;
  }
  
  .desktop-2 .cbon-2 {
    left: 865px;
    top: 819px;
  }
  
  .desktop-2 .rectangle-62 {
    background-color: var(--botticelli);
    height: 59px;
    left: 1096px;
    position: absolute;
    top: 803px;
    width: 221px;
  }
  
  .desktop-2 .domoda-yapp-2 {
    left: 1112px;
    top: 819px;
  }
  
  .desktop-2 .icon-play-10 {
    left: 208px;
    position: absolute;
    top: 589px;
  }
  
  .desktop-2 .icon-play-11 {
    left: 450px;
    position: absolute;
    top: 589px;
  }
  
  .desktop-2 .icon-play-12 {
    left: 696px;
    position: absolute;
    top: 592px;
  }
  
  .desktop-2 .icon-play-13 {
    left: 942px;
    position: absolute;
    top: 589px;
  }
  
  .desktop-2 .icon-play-14 {
    left: 1184px;
    position: absolute;
    top: 592px;
  }
  
  .desktop-2 .component-2 {
    flex-direction: column;
    gap: 1px;
    margin-left: -7px;
    margin-top: 44px;
    min-height: 229px;
    padding: 14px 7px;
    width: 1440px;
    z-index: 5;
  }
  
  .desktop-2 .flex-row-1 {
    align-items: center;
    display: flex;
    height: 177px;
    margin-right: 18.0px;
    min-width: 1408px;
  }
  
  .desktop-2 .image-1-1 {
    align-self: flex-end;
    height: 153px;
    object-fit: cover;
    width: 122px;
  }
  
  .desktop-2 .flex-col {
    align-items: flex-start;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    min-height: 162px;
    width: 681px;
  }
  
  .desktop-2 .bon-appetit {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 3px;
    min-height: 33px;
    width: 161px;
  }
  
  .desktop-2 .obtenez-des-recettes {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 9px;
    min-height: 58px;
  }
  
  .desktop-2 .overlap-group {
    align-items: flex-start;
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--black);
    box-shadow: 0px 4px 4px #00000040;
    display: flex;
    gap: 275px;
    height: 50px;
    justify-content: flex-end;
    margin-left: 3px;
    margin-top: 12px;
    min-width: 610px;
    padding: 4px 16px;
  }
  
  .desktop-2 .entrez-ladresse-e-mail {
    align-self: center;
    color: #00000040;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 3.0px;
    min-height: 29px;
    min-width: 260px;
  }
  
  .desktop-2 .material-symbolsarrow-right-rounded {
    height: 40px;
    width: 40px;
  }
  
  .desktop-2 .dners-repas-ingredients-conseils {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 72px;
    margin-top: 29.0px;
    min-height: 116px;
    min-width: 162px;
  }
  
  .desktop-2 .trousse-media-en-bon {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 70px;
    min-height: 87px;
    min-width: 296px;
  }
  
  .desktop-2 .line-2 {
    height: 4px;
    margin-left: 18.0px;
    width: 1186px;
  }
  
  .desktop-2 .overlap-group6 {
    align-items: flex-start;
    background-color: var(--black);
    display: flex;
    height: 92px;
    min-width: 1440px;
    padding: 30px 448px;
    z-index: 6;
  }
  
  .desktop-2 .x2023-yay-chef-tou {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    min-height: 29px;
  }
  
  .desktop-2 .cbon-3 {
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    white-space: nowrap;
  }
  
  .desktop-2 .component {
    align-items: center;
    background-color: var(--botticelli);
    display: flex;
  }
  
  .desktop-2 .domoda-yapp-3 {
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    white-space: nowrap;
  }
  
  .desktop-2 .icon-play-15 {
    height: 50px;
    width: 50px;
  }
  
  .desktop-2 .jollof-rice-3 {
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    white-space: nowrap;
  }
  
  .desktop-2 .maf-yapp-3 {
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    white-space: nowrap;
  }
  
  .desktop-2 .material-symbolsarrow-drop-down-rounded-8 {
    height: 50px;
    width: 50px;
  }
  
  .desktop-2 .overlap-group-container-5 {
    display: flex;
    flex-direction: column;
  }
  
  .desktop-2 .thiebou-dieune-3 {
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    white-space: nowrap;
  }
  @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
  @import url("https://fonts.googleapis.com/css?family=Inter:700,500,600");
  /* The following line is used to measure usage of this code in production. For more info see our usage billing page */
  @import url("https://px.animaapp.com/64538063244cad3e193f1548.6453806444077b1738776e3e.64538066667928fc44d4e607.hcp.png");
  
  
  
  .screen a {
    display: contents;
    text-decoration: none;
  }
  
  .container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
  }
  
  .container-center-horizontal > * {
    flex-shrink: 0;
    pointer-events: auto;
  }
  
  .listeners-active,
  .listeners-active * {
    pointer-events: auto;
  }
  
  .hidden,
  .hidden * {
    pointer-events: none;
    visibility: hidden;
  }
  
  .listeners-active-click,
  .listeners-active-click * {
    cursor: pointer;
  }
  
  * {
    box-sizing: border-box;
  }
  :root { 
    --black: #000000;
    --botticelli: #c9deec;
    --white: #ffffff;
   
    --font-size-m2: 20px;
    --font-size-xl: 24px;
   
    --font-family-inter: "Inter", Helvetica;
  }
  .inter-semi-bold-black-20px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m2);
    font-style: normal;
    font-weight: 600;
  }
  
  .inter-bold-black-24px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 700;
  }
      