/* screen - desktop-4 */

.desktop-4 {
    align-items: center;
    background-color: var(--white);
    border: 1px none;
    display: flex;
    flex-direction: column;
    height: 1992px;
    width: 1440px;
  }
  
  .desktop-4 .flex-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 298px;
    width: 1440px;
  }
  
  .desktop-4 .component-1 {
    align-items: center;
    height: 142px;
  }
  
  .desktop-4 .image-1 {
    align-self: flex-end;
    height: 153px;
    margin-bottom: -12px;
    object-fit: cover;
    width: 129px;
  }
  
  .desktop-4 .overlap-group2 {
    height: 50px;
    margin-left: 90px;
    margin-top: 16.0px;
    position: relative;
    width: 144px;
  }
  
  .desktop-4 .title {
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 8px;
  }
  
  .desktop-4 .material-symbolsarrow-drop-down-rounded {
    height: 50px;
    left: 94px;
    position: absolute;
    top: 0;
    width: 50px;
  }
  
  .desktop-4 .overlap-group3 {
    height: 50px;
    margin-left: 97px;
    margin-top: 16.0px;
    position: relative;
    width: 270px;
  }
  
  .desktop-4 .conseils-astuces {
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 8px;
  }
  
  .desktop-4 .material-symbolsarrow-drop-down-rounded-1 {
    left: 220px;
    position: absolute;
    top: 0;
  }
  
  .desktop-4 .overlap-group4 {
    height: 50px;
    margin-left: 82px;
    margin-top: 16.0px;
    position: relative;
    width: 183px;
  }
  
  .desktop-4 .suivez-nous {
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 8px;
  }
  
  .desktop-4 .material-symbolsarrow-drop-down-rounded-2 {
    left: 133px;
    position: absolute;
    top: 0;
  }
  
  .desktop-4 .icon-facebook {
    height: 40px;
    margin-left: 111px;
    margin-top: 8.0px;
    width: 40px;
  }
  
  .desktop-4 .icon-instagram {
    height: 40px;
    margin-left: 49px;
    margin-top: 8.0px;
    width: 40px;
  }
  
  .desktop-4 .icbaseline-tiktok {
    height: 40px;
    margin-left: 46px;
    margin-top: 8.0px;
    width: 40px;
  }
  
  .desktop-4 .overlap-group8 {
    align-items: flex-start;
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--black);
    border-radius: 10px;
    display: flex;
    gap: 30px;
    height: 74px;
    margin-left: 105px;
    min-width: 511px;
    padding: 10px 12px;
  }
  
  .desktop-4 .icon-search {
    height: 40px;
    width: 40px;
  }
  
  .desktop-4 .trouver-une-recette {
    align-self: center;
    color: #d0c4c4;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 5.0px;
    min-height: 29px;
    min-width: 232px;
  }
  
  .desktop-4 .overlap-group5 {
    align-items: center;
    background-color: #d9d9d9;
    display: flex;
    height: 82px;
    justify-content: flex-end;
    min-width: 1440px;
    padding: 15px 194px;
  }
  
  .desktop-4 .overlap-group13 {
    align-self: flex-end;
    height: 50px;
    position: relative;
    width: 177px;
  }
  
  .desktop-4 .populaire {
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 9px;
  }
  
  .desktop-4 .material-symbolsarrow-drop-down-rounded-3 {
    left: 127px;
    position: absolute;
    top: 0;
  }
  
  .desktop-4 .overlap-group12 {
    height: 50px;
    margin-left: 56px;
    position: relative;
    width: 122px;
  }
  
  .desktop-4 .repas {
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 10px;
  }
  
  .desktop-4 .material-symbolsarrow-drop-down-rounded-4 {
    left: 72px;
    position: absolute;
    top: 0;
  }
  
  .desktop-4 .plats {
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 1.0px;
    margin-left: 52px;
    min-height: 29px;
    min-width: 78px;
  }
  
  .desktop-4 .overlap-group11 {
    height: 50px;
    margin-left: 46px;
    position: relative;
    width: 205px;
  }
  
  .desktop-4 .ingredients {
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 10px;
  }
  
  .desktop-4 .material-symbolsarrow-drop-down-rounded-6 {
    left: 155px;
    position: absolute;
    top: 0;
  }
  
  .desktop-4 .overlap-group14 {
    height: 50px;
    margin-left: 53px;
    position: relative;
    width: 138px;
  }
  
  .desktop-4 .cuisine {
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 10px;
  }
  
  .desktop-4 .material-symbolsarrow-drop-down-rounded-7 {
    left: 88px;
    position: absolute;
    top: 0;
  }
  
  .desktop-4 .flex-row {
    align-items: center;
    display: flex;
    gap: 45px;
    margin-left: 1.0px;
    margin-top: 9px;
    min-width: 1277px;
  }
  
  .desktop-4 .flex-col-1 {
    margin-top: 4.0px;
    min-height: 1413px;
    width: 885px;
  }
  
  .desktop-4 .surname {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 3px;
    min-height: 48px;
  }
  
  .desktop-4 .overlap-group {
    height: 663px;
    margin-top: 2px;
    position: relative;
    width: 885px;
  }
  
  .desktop-4 .overlap-group7 {
    align-items: flex-start;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64538066667928fc44d4e607/releases/6453818f60a83ad000c6554f/img/rectangle-70.png);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    left: 0;
    min-height: 663px;
    padding: 16px 3px;
    position: absolute;
    top: 0;
    width: 885px;
  }
  
  .desktop-4 .icon-play {
    align-self: center;
    height: 75px;
    margin-top: 278px;
    width: 75px;
  }
  
  .desktop-4 .line-1 {
    height: 11px;
    margin-top: 222px;
    width: 875px;
  }
  
  .desktop-4 .flex-row-1 {
    margin-left: 28px;
    margin-top: 10px;
    min-width: 656px;
  }
  
  .desktop-4 .icon-play-1 {
    height: 35px;
    width: 35px;
  }
  
  .desktop-4 .ggplay-track-next {
    height: 35px;
    margin-left: 12px;
    width: 35px;
  }
  
  .desktop-4 .icon-volume {
    height: 35px;
    margin-left: 21px;
    width: 35px;
  }
  
  .desktop-4 .text-1 {
    color: var(--botticelli);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs2);
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 30px;
    min-height: 19px;
    min-width: 97px;
    white-space: nowrap;
  }
  
  .desktop-4 .icbaseline-featured-play-list {
    height: 35px;
    margin-left: 297px;
    width: 35px;
  }
  
  .desktop-4 .icon-settings {
    height: 35px;
    margin-left: 24px;
    width: 35px;
  }
  
  .desktop-4 .icon-park-outlinefull-screen-play {
    height: 35px;
    left: 711px;
    position: absolute;
    top: 615px;
    width: 35px;
  }
  
  .desktop-4 .flex-row-2 {
    align-self: center;
    margin-left: 4.0px;
    margin-top: 48px;
    min-width: 867px;
  }
  
  .desktop-4 .overlap-group10 {
    align-items: flex-start;
    background-color: var(--botticelli);
    border-radius: 10px;
    display: flex;
    gap: 9px;
    height: 55px;
    min-width: 206px;
    padding: 15px 13px;
  }
  
  .desktop-4 .icon-download_arrow {
    height: 24px;
    width: 24px;
  }
  
  .desktop-4 .sauvegarder {
    align-self: center;
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs2);
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 2.0px;
    min-height: 19px;
    min-width: 122px;
    white-space: nowrap;
  }
  
  .desktop-4 .overlap-group9 {
    align-items: flex-start;
    background-color: var(--botticelli);
    border-radius: 10px;
    display: flex;
    gap: 9px;
    height: 55px;
    justify-content: flex-end;
    margin-left: 51px;
    min-width: 206px;
    padding: 15px 10px;
  }
  
  .desktop-4 .mdimessage-outline {
    height: 24px;
    width: 24px;
  }
  
  .desktop-4 .address {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs2);
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 1px;
    min-height: 19px;
    white-space: nowrap;
  }
  
  .desktop-4 .icon-facebook-1 {
    height: 40px;
    margin-bottom: 1.0px;
    margin-left: 209px;
    width: 40px;
  }
  
  .desktop-4 .icon-instagram-1 {
    height: 40px;
    margin-bottom: 1.0px;
    margin-left: 41px;
    width: 40px;
  }
  
  .desktop-4 .icbaseline-tiktok-1 {
    height: 40px;
    margin-bottom: 1.0px;
    margin-left: 34px;
    width: 40px;
  }
  
  .desktop-4 .ingredients-1 {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 44px;
    min-height: 24px;
    white-space: nowrap;
  }
  
  .desktop-4 .line {
    height: 5px;
    margin-left: 6px;
    margin-top: 2px;
    width: 60px;
  }
  
  .desktop-4 .riz-500-g-poisson {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 19px;
    min-height: 168px;
  }
  
  .desktop-4 .span1 {
    text-decoration: underline;
  }
  
  .desktop-4 .preparations {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 21px;
    min-height: 24px;
    white-space: nowrap;
  }
  
  .desktop-4 .x1-piler-la-gousse-d {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 19px;
    min-height: 264px;
    width: 885px;
  }
  
  .desktop-4 .overlap-group6 {
    height: 1423px;
    position: relative;
    width: 347px;
  }
  
  .desktop-4 .rectangle-78 {
    background-color: var(--white);
    height: 1405px;
    left: 0;
    position: absolute;
    top: 0;
    width: 347px;
  }
  
  .desktop-4 .rectangle-79 {
    height: 157px;
    left: 7px;
    object-fit: cover;
    position: absolute;
    top: 57px;
    width: 240px;
  }
  
  .desktop-4 .rectangle-80 {
    height: 157px;
    left: 7px;
    object-fit: cover;
    position: absolute;
    top: 259px;
    width: 240px;
  }
  
  .desktop-4 .rectangle-81 {
    height: 157px;
    left: 11px;
    object-fit: cover;
    position: absolute;
    top: 454px;
    width: 240px;
  }
  
  .desktop-4 .rectangle-82 {
    height: 157px;
    left: 11px;
    object-fit: cover;
    position: absolute;
    top: 660px;
    width: 240px;
  }
  
  .desktop-4 .rectangle-83 {
    height: 157px;
    left: 11px;
    object-fit: cover;
    position: absolute;
    top: 862px;
    width: 240px;
  }
  
  .desktop-4 .rectangle-84 {
    height: 157px;
    left: 11px;
    object-fit: cover;
    position: absolute;
    top: 1064px;
    width: 240px;
  }
  
  .desktop-4 .icon-play-2 {
    height: 40px;
    left: 107px;
    position: absolute;
    top: 115px;
    width: 40px;
  }
  
  .desktop-4 .icon-play-3 {
    height: 40px;
    left: 107px;
    position: absolute;
    top: 317px;
    width: 40px;
  }
  
  .desktop-4 .icon-play-4 {
    height: 40px;
    left: 111px;
    position: absolute;
    top: 512px;
    width: 40px;
  }
  
  .desktop-4 .icon-play-5 {
    height: 40px;
    left: 111px;
    position: absolute;
    top: 718px;
    width: 40px;
  }
  
  .desktop-4 .icon-play-6 {
    height: 40px;
    left: 111px;
    position: absolute;
    top: 920px;
    width: 40px;
  }
  
  .desktop-4 .icon-play-7 {
    height: 40px;
    left: 111px;
    position: absolute;
    top: 1122px;
    width: 40px;
  }
  
  .desktop-4 .rectangle-85 {
    height: 157px;
    left: 11px;
    object-fit: cover;
    position: absolute;
    top: 1266px;
    width: 240px;
  }
  
  .desktop-4 .icon-play-8 {
    height: 40px;
    left: 110px;
    position: absolute;
    top: 1375px;
    width: 40px;
  }
  
  .desktop-4 .component-2 {
    align-items: flex-start;
    height: 229px;
    margin-top: 33px;
  }
  
  .desktop-4 .overlap-group-1 {
    align-items: flex-start;
    background-color: var(--botticelli);
    display: flex;
    flex-direction: column;
    gap: 1px;
    min-height: 229px;
    padding: 14px 0;
    width: 1440px;
  }
  
  .desktop-4 .flex-row-3 {
    height: 177px;
    min-width: 1415px;
  }
  
  .desktop-4 .image-1-1 {
    align-self: flex-end;
    height: 153px;
    object-fit: cover;
    width: 129px;
  }
  
  .desktop-4 .flex-col-2 {
    align-self: flex-start;
    margin-left: 5px;
    min-height: 162px;
    width: 681px;
  }
  
  .desktop-4 .bon-appetit {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 3px;
    min-height: 33px;
    width: 161px;
  }
  
  .desktop-4 .obtenez-des-recettes {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 9px;
    min-height: 58px;
  }
  
  .desktop-4 .overlap-group1 {
    align-items: flex-start;
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--black);
    box-shadow: 0px 4px 4px #00000040;
    display: flex;
    gap: 275px;
    height: 50px;
    justify-content: flex-end;
    margin-left: 3px;
    margin-top: 12px;
    min-width: 610px;
    padding: 4px 16px;
  }
  
  .desktop-4 .entrez-ladresse-e-mail {
    align-self: center;
    color: #00000040;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 3.0px;
    min-height: 29px;
    min-width: 260px;
  }
  
  .desktop-4 .material-symbolsarrow-right-rounded {
    height: 40px;
    width: 40px;
  }
  
  .desktop-4 .dners-repas-ingredients-conseils {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 72px;
    margin-top: 29.0px;
    min-height: 116px;
    min-width: 162px;
  }
  
  .desktop-4 .trousse-media-en-bon {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 70px;
    min-height: 87px;
    min-width: 296px;
  }
  
  .desktop-4 .line-2 {
    align-self: center;
    height: 4px;
    margin-left: 18.0px;
    width: 1186px;
  }
  
  .desktop-4 .component {
    background-color: var(--botticelli);
    display: flex;
    min-width: 1440px;
  }
  
  .desktop-4 .flex-col-3 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
  
  .desktop-4 .flex-row-4 {
    align-items: center;
    display: flex;
  }
  
  .desktop-4 .material-symbolsarrow-drop-down-rounded-8 {
    height: 50px;
    width: 50px;
  }
  @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
  @import url("https://fonts.googleapis.com/css?family=Inter:700,500,600");
  /* The following line is used to measure usage of this code in production. For more info see our usage billing page */
  @import url("https://px.animaapp.com/64538063244cad3e193f1548.6453806444077b1738776e3e.64538066667928fc44d4e607.hcp.png");
  
  
  
  .screen a {
    display: contents;
    text-decoration: none;
  }
  
  .container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
  }
  
  .container-center-horizontal > * {
    flex-shrink: 0;
    pointer-events: auto;
  }
  
  .listeners-active,
  .listeners-active * {
    pointer-events: auto;
  }
  
  .hidden,
  .hidden * {
    pointer-events: none;
    visibility: hidden;
  }
  
  .listeners-active-click,
  .listeners-active-click * {
    cursor: pointer;
  }
  
  * {
    box-sizing: border-box;
  }
  :root { 
    --black: #000000;
    --botticelli: #c9deec;
    --white: #ffffff;
   
    --font-size-m: 20px;
    --font-size-xl: 24px;
    --font-size-xs2: 16px;
   
    --font-family-inter: "Inter", Helvetica;
  }
  .inter-bold-black-24px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 700;
  }
  
  .inter-medium-black-20px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
  }
      